body {
    background-color: #f8f8f8;
    color: #1a1a1a;
    line-height: 1.8em;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    margin: 0;
}
h2 {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

h4 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

u {
    text-decoration: underline;
    font-weight: bold;
}

a { color: #1a1a1a; }
.row a {text-decoration: none;}
li {font-size: 12pt;}

/* Top navigation bar */
#navbar-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    border-bottom: 4px solid #415b70;
    background-color: #efefef;
}
.nav-link.active {background: #d8bca1;}
.nav-item li.active>a, .nav-item a:hover, .nav-item a:focus, .nav-itme li.open>a{
    background: #d8bca1 !important;
    outline: 0;
}

#navbar-bottom {
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.col-img {
    margin-bottom: -15px;
    padding-bottom: -10px;
}

.col-left {
    padding: 0px 2px -10px 2px;
    margin: 0px 30px -15px 100px;
}
.col-right {
    padding: 0px 2px -10px 2px;
    margin: 0px 100px -15px 30px;
}
.section {
    max-width: 900px;
    margin: -40px auto 10px auto;
    padding: 80px 4px 0px 4px;
}
.section > .title {
    font-size: 18pt;
    color: #414446;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 2px solid #999;
    padding-right: 15px;
}

.jumbotron {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 4px 0px 4px;
    background-color: #f8f8f8;
}
.jumbotron > .title {
    font-size: 18pt;
    color: #414446;
    clear: both;
    text-align: center;
}

.content{
    padding: 20px 0px 0px 0px;
    margin: 0px auto;
    text-align: justify;
    font-size: 12pt;
}

.row {
    max-width: 900px;
    margin: 0px 0px 0px 0px;
    padding: 10px 4px 0px 4px;
}

.row a {
    font-size: 12pt;
    padding: 2px auto;
}

.thumbnail {
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 1px 0px;
}

.thumbnail img {
    height: 200px;
    object-fit: scale-down;
    width: 100%;
}
@media (min-width: 576px) {
    .thumbnail img {
        object-fit: cover;
    }
    .thumbnail img.top-left {
        object-position: 0px 0px;
    }
}

.logo {
    width: 50%;
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 1px 0px;
    object-fit: contain;
}

.caption {
    padding: 3px 0px 3px 0px;
    margin: 0px 0px 3px 0px;
    text-align: center;
    font-size: 14pt;
}
.caption span {
    font-size: 11pt;
}

.caption a:hover {text-decoration:none;}

table {
    text-align: left;
}

.carousel-item {
    text-align: center;
}
.carousel-caption {
    background: rgba(230, 230, 230, 0.9);
}
